*.py[cod]
venv*/

# C extensions
*.so

# Packages
*.egg
*.egg-info
.eggs/
.installed.cfg
build/
dist/
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage.*
.tox
htmlcov/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# httplib2
.cache/
_httplib2_test_cache/
